# Node.js with React
# Build a Node.js project that uses React.

# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

pool: Azure Pipelines

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '16.13.0'
  displayName: 'Install Node.js'

- script: |
    npm install
    npm run build
  displayName: 'npm install and build'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'
  condition: succeededOrFailed()
- task: AzureRmWebAppDeployment@4
  inputs:
    ConnectionType: 'AzureRM'
    azureSubscription: 'Free Trial(21005496-a0fd-4e24-87b7-01a648e9fdd5)'
    appType: 'webApp'
    WebAppName: 'mern-chat-app-dg'
    packageForLinux: '$(System.DefaultWorkingDirectory)/drop'
    ScriptType: 'Inline Script'
    InlineScript: |
      cd $(System.DefaultWorkingDirectory)/drop
      node ./backend/server.js
      ErrorActionPreference: 'Stop' # Stop the script if any command fails